<mat-stepper [orientation]="orientation$ | async" [style.padding]="padding$ | async">
  <mat-step [label]="labels[0]" state="phone" completed="false">
    <student-form
      (result)="onStudentFormEv($event)"
      (formValueChanged)="onFormValueChange()"
      [objectToUpdate]="studentUnderUpdate"
    ></student-form>
  </mat-step>
  <mat-step [label]="labels[1]" state="chat" completed="false">
    <parent-form
      (result)="onParentFormEv($event)"
      (formValueChanged)="onFormValueChange()"
      [objectToUpdate]="studentUnderUpdate?.parent"
    ></parent-form>
  </mat-step>
  <mat-step [label]="labels[2]">
    <student-resume [student]="studentCreated" (okEv)="onOk()"></student-resume>
  </mat-step>
</mat-stepper>
