.printout-form-row {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 1em;
  mat-checkbox,
  mat-form-field,
  button {
    margin: 0.5em 2em;
  }
  mat-form-field {
    margin-bottom: 0;
    margin-top: 0;
  }
}

button {
  width: 100%;
}
