<div class="container">
  <table
    *ngIf="tableDataSource; else noData"
    mat-table
    [dataSource]="tableDataSource"
    class="mat-elevation-z1"
    matSort
    matSortActive="emissionDate"
    matSortDirection="desc"
  >
    <ng-container matColumnDef="payed" sticky>
      <th mat-header-cell *matHeaderCellDef class="border-right">
        {{ 'RECEIPTS.T_HEAD_1' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="border-right">
        <mat-icon *ngIf="element.payed" color="accent">done</mat-icon>
        <mat-icon *ngIf="!element.payed" color="warn">error_outline</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'RECEIPTS.T_HEAD_2' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.number }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'RECEIPTS.T_HEAD_3' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>
    <ng-container matColumnDef="emissionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'RECEIPTS.T_HEAD_4' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.emissionDate | date: 'dd MMMM yyyy' }}</td>
    </ng-container>
    <ng-container matColumnDef="paymentDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'RECEIPTS.T_HEAD_5' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.paymentDate | date: 'dd MMMM yyyy' }}</td>
    </ng-container>
    <ng-container matColumnDef="typeOfPayment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'RECEIPTS.T_HEAD_6' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.typeOfPayment | paymentType }}</td>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="addReceipt()">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <receipts-actions
          [receiptId]="element.id"
          (updateOrDeleteEvent)="onUpdateOrDelete($event)"
        ></receipts-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [pageSize]="10" hidePageSize="true"></mat-paginator>
</div>

<ng-template #noData>
  <button mat-icon-button (click)="addReceipt()" class="noDataBtn">
    <mat-icon>add</mat-icon>
  </button>
</ng-template>
