.container {
  width: 100%;
  overflow: auto;
}

table {
   min-width: 600px;
  width: 100%
}

td.mat-column-actions,
th.mat-column-actions,
.border-right {
  width: 20px;
  padding: 0 !important;
  padding-left: .5em !important;
  border-left: 1px solid #e0e0e0 !important;
}

.border-right {
  width: 40px;
  border-left: 0 !important;
  border-right: 1px solid #e0e0e0 !important;
}

.noDataBtn{
  margin: 0 auto;
  width: 100%;
}