.container {
  width: 100%;
}

.table-container {
  overflow: auto;
}

.counters {
  display: flex;
  justify-content: space-between;
}

table {
  margin-top: 2em;
  min-width: 600px;
  width: 100%;
}

td.mat-column-actions,
th.mat-column-actions,
.border-right {
  width: 20px;
  padding: 0 !important;
  padding-left: 0.5em !important;
  border-left: 1px solid #e0e0e0 !important;
}

td.mat-column-number,
th.mat-column-number {
  padding-left: 1em;
}

.border-right {
  width: 40px;
  border-left: 0 !important;
  border-right: 1px solid #e0e0e0 !important;
}

.noDataBtn {
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .counters {
    flex-direction: column;
    line-height: 2em;
  }
}
