mat-drawer-container {
  height: 100vh;
  width: 100vw;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 60px !important;
}

.controls-container {
  display: flex;
}

mat-select {
  font-size: 0.8em !important;
}

::ng-deep .mat-select-arrow,
::ng-deep .mat-select-min-line {
  display: none;
}

@media screen and(max-width: 400px) {
  .controls-container mat-icon {
    font-size: 1.3em !important;
  }

  .controls-container .mat-icon-button {
    width: 25px !important;
  }
}
