mat-toolbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
}


.mat-select-container {
    width: 40px;
}

mat-select {
    width: 10px;
    font-size: .8em !important;
    
}