<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" cosntent="width=device-width, initial-scale=1.0" />
    <style>
      html {
        zoom: .71
      }
      body {
        font-family: 'Calibri', sans-serif;
        padding-left: 2cm;
        padding-top: 2cm;
        padding-right: 1cm;
        line-height: 0.5cm;
        letter-spacing: 0.5px;
        font-size: 14px;
      }
      p,
      h3 {
        margin: 0;
      }
      * {
        text-transform: capitalize;
      }
      h3 {
        font-weight: normal;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 300;
      }
      footer {
        max-width: 30cm;
      }
      footer p {
        text-transform: none !important;
        margin-bottom: 0.5cm;
      }
      .uppercase {
        text-transform: uppercase;
      }
      .teacher-content,
      .addressee-content,
      .title-content,
      .payment-content,
      footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .teacher {
        margin-bottom: 2.5cm;
        height: 2.6cm;
      }
      .teacher-content p {
        margin-bottom: 1mm;
      }
      
      .teacher-content p:first-of-type {
        font-size: 16px;
        text-decoration: underline;
        font-weight: bold;
      }
      .addressee {
        margin-bottom: 4cm;
        height: 3cm;
        width: 100%;
        font-size: 20px;
        font-weight: 100;
      }
      .addressee-content {
        margin-left: 12.5cm;
      }
      .addressee-content * {
        margin-bottom: 5mm;
      }
      .title {
        margin-bottom: 1.5cm;
        height: 1.6cm;
      }
      .title-content h3 {
        font-weight: 400;
      }
      .title-content * {
        margin-bottom: 5mm;
      }
      .title-content span {
        text-transform: none;
      }
      .payment {
        margin-bottom: 2cm;
        height: 2.5cm;
      }
      .payment-content .col span {
        display: inline-block;
        margin-bottom: 2mm;
      }
      .col span:first-child {
        width: 50%;
      }
      .col span:nth-child(2) {
        width: 10%;
      }
      .col span:last-child {
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <div class="teacher">
      <div class="teacher-content">
        <p>gianni pino</p>
        <p>via marina pino 24/1</p>
        <p>16fas3 poso</p>
        <p class="uppercase">c.f. dhfashcshdkc</p>
        <p class="uppercase">P.IVA hflksajfasfsa</p>
      </div>
    </div>
    <div class="addressee">
      <div class="addressee-content">
        <% if (student.parent && student.parent.name && student.parent.surname) { %>
          <h3><%= student.parent.name + ' ' + student.parent.surname %></h3>
        <% } %>
        <% if (student.parent && student.parent.address ) { %>
          <p><%= student.parent.address %></p>
        <% } %>
        <% if (student.parent && student.parent.fiscalCode ) { %>
          <p class="uppercase"><%= student.parent.fiscalCode %></p>
        <% } %>
      </div>
    </div>
    <div class="title">
      <div class="title-content">
        <p>
          Fattura n.__
          <span>del</span>
          ______
        </p>
        <h3 class="uppercase">lezione <%= student.name %></h3>
      </div>
    </div>
    <div class="payment">
      <div class="payment-content">
        <div class="col">
          <span>Compenso</span>
          <span>Euro</span>
          <span>___</span>
        </div>
        <div class="col">
          <span>rivalsa inps 4% sul compenso</span>
          <span>Euro</span>
          <span>___</span>
        </div>
        <div class="col">
          <span>totale documento</span>
          <span>Euro</span>
          <span>___</span>
        </div>
      </div>
    </div>
    <footer>
      <p>
        Operazione effettuata ai sensi dell’art. 1, commi da 54 a 89 Legge n. 190/2014, così come
        modificato dalla Legge n. 2018/2015 e dalla Legge 145/2018 – Regime forfetario.
      </p>
      <p>
        Il compenso non è soggetto a ritenute d’acconto ai sensi della legge 190 del 23 Dicembre
        2014 art. 1 comma 67.
      </p>
    </footer>

  </body>
</html>
