.download-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  > * {
    width: auto;
  }
  mat-form-field,
  button {
    margin: 0.5em 1em;
  }
  button {
    margin-top: 0;
  }
  mat-form-field {
    margin-bottom: 0;
    margin-top: 0;
  }
}
