.download-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto auto;
  align-items: center;
  margin-top: 1em !important;
  gap: 1em;
  > * {
    width: auto;
  }
  mat-form-field,
  button,
  mat-checkbox {
    margin: 0.5em 1em;
  }
  button {
    margin-top: 0;
  }
  mat-form-field {
    margin-bottom: 0;
    margin-top: 0;
  }
  ::ng-deep.mat-checkbox-layout {
    white-space: unset;
    .mat-checkbox-label {
      line-height: 20px;
    }
  }
}
