<mat-list *ngIf="student">
  <div mat-subheader>{{ 'STUDENT_INFO.STUDENT' | translate }}</div>
  <mat-list-item>
    <div mat-line>
      {{ 'FORMS.NAME' | translate }}:
      <b>{{ student.name }}</b>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>
      {{ 'FORMS.SURNAME' | translate }}:
      <b>{{ student.surname }}</b>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="student.dateOfBirth">
    <div mat-line>
      {{ 'FORMS.DATE_BIRTH' | translate }}:
      <b>{{ student.dateOfBirth | date }}</b>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="student.phoneNumber">
    <div mat-line>
      {{ 'STUDENT_INFO.PHONE' | translate }}:
      <b>{{ student.phoneNumber }}</b>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="student.schoolClass">
    <div mat-line>
      {{ 'STUDENT_INFO.CLASS' | translate }}:
      <b>{{ student.schoolClass }}</b>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="student.address">
    <div mat-line>
      {{ 'STUDENT_INFO.ADDRESS' | translate }}:
      <b>{{ student.address }}</b>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="student.fiscalCode">
    <div mat-line>
      {{ 'STUDENT_INFO.FISCAL' | translate }}:
      <b>{{ student.fiscalCode }}</b>
    </div>
  </mat-list-item>

  <ng-container *ngIf="student.parent">
    <mat-divider></mat-divider>
    <div mat-subheader>{{ 'STUDENT_INFO.PARENTS' | translate }}</div>
    <mat-list-item>
      <div mat-line>
        {{ 'FORMS.NAME' | translate }}:
        <b>{{ student.parent.name }}</b>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>
        {{ 'FORMS.SURNAME' | translate }}:
        <b>{{ student.parent.surname }}</b>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="student.parent.phoneNumber">
      <div mat-line>
        {{ 'STUDENT_INFO.PHONE' | translate }}:
        <b>{{ student.parent.phoneNumber }}</b>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="student.parent.address">
      <div mat-line>
        {{ 'STUDENT_INFO.ADDRESS' | translate }}:
        <b>{{ student.parent.address }}</b>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="student.parent.fiscalCode">
      <div mat-line>
        {{ 'STUDENT_INFO.FISCAL' | translate }}:
        <b>{{ student.parent.fiscalCode }}</b>
      </div>
    </mat-list-item>
  </ng-container>

  <ng-container *ngIf="student.receiptPrice">
    <mat-divider></mat-divider>
    <div mat-subheader>{{ 'STUDENT_INFO.RECEIPT_PRICE' | translate }}</div>
    <mat-list-item>
      <div mat-line>
        {{ 'FORMS.PRICE' | translate }}:
        <b>{{ student.receiptPrice.price }}</b>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>
        {{ 'FORMS.TAX' | translate }}:
        <b>{{ student.receiptPrice.tax }}</b>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>
        {{ 'FORMS.TOTAL' | translate }}:
        <b>{{ student.receiptPrice.total }}</b>
      </div>
    </mat-list-item>
  </ng-container>

  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" type="button" (click)="okEv.emit()" style="width: 100%">
    Ok
  </button>
</mat-list>
