:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.sidebar-container {
  overflow-y: scroll;
  flex: 1;
}

.statistics-container {
  height: 8em;
  .statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    span {
      width: max-content;
      margin-bottom: 1em;
      padding: 0 0.5em;
    }
  }
}
