<div class="button-container">
  <button mat-icon-button (click)="navigateToForm()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="orderOnClick(1)">{{ 'SIDEBAR.ORDER_1' | translate }}</button>
    <button mat-menu-item (click)="orderOnClick(2)">{{ 'SIDEBAR.ORDER_2' | translate }}</button>
    <button mat-menu-item (click)="orderOnClick(3)">{{ 'SIDEBAR.ORDER_3' | translate }}</button>
    <button mat-menu-item (click)="orderOnClick(4)">{{ 'SIDEBAR.ORDER_4' | translate }}</button>
  </mat-menu>
</div>
<mat-divider></mat-divider>

<div class="sidebar-container">
  <mat-selection-list [multiple]="false">
    <mat-list-option
      *ngFor="let student of students"
      [value]="student"
      (click)="navigateToStudent(student.id)"
    >
      {{ student.name }} {{ student.surname }}
    </mat-list-option>
  </mat-selection-list>
</div>
