:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.sidebar-container {
  overflow-y: scroll;
  flex-grow: 1;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 3.5em;
  padding: 1em;
  span {
    width: max-content;
    .mat-badge-text {
      padding-right: 1em;
    }
  }
}
