/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  min-width: 250px
}

mat-spinner {
  width: 50px !important;
  height: 50px !important;
  svg {
    width: 50px !important;
    height: 50px !important;
  }
  position: fixed !important;
  z-index: 100;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);

}