<ng-container *ngIf="!isLoading">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title *ngIf="isRegistering">
        {{ 'AUTH.REGISTER_BUTTON' | translate }}
      </mat-card-title>
      <mat-card-title *ngIf="!isRegistering">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="isRegistering; else loginForm">
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'AUTH.NAME' | translate }}</mat-label>
          <input matInput ngModel name="name" type="text" required />
          <mat-error>
            {{ 'AUTH.NAME_ERROR' | translate: { value: 'AUTH.NAME' | translate } }}
          </mat-error>
          <mat-icon matSuffix color="primary">person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput ngModel name="email" type="email" required email />
          <mat-error>{{ 'AUTH.NAME_ERROR' | translate: { value: 'Email' } }}</mat-error>
          <mat-icon matSuffix color="primary">mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Password</mat-label>
          <input
            matInput
            ngModel
            #password="ngModel"
            name="password"
            type="password"
            required
            minlength="6"
            passwordValidator
          />
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error *ngIf="password.errors && password.touched">
            <span *ngIf="password.errors.required">{{ 'AUTH.PSW_ERROR_1' | translate }}</span>
            <span *ngIf="password.errors.minlength">{{ 'AUTH.PSW_ERROR_2' | translate }}</span>
            <span *ngIf="!password.errors.required && !password.errors.minlength">
              {{ pswService.getErrorsText(password.errors)[0] }}
            </span>
          </mat-error>
        </mat-form-field>
        <button [disabled]="authForm.invalid" mat-raised-button color="primary" type="submit">
          {{ 'AUTH.REGISTER_BUTTON' | translate }}
        </button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <a mat-button (click)="isRegistering = !isRegistering">
        <span *ngIf="!isRegistering">{{ 'AUTH.REGISTER_BUTTON' | translate }}</span>
        <span *ngIf="isRegistering">Login</span>
      </a>
      <a mat-button disabled>{{ 'AUTH.FORGOT_BUTTON' | translate }}</a>
    </mat-card-footer>
  </mat-card>
</ng-container>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<ng-template #loginForm>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput ngModel name="email" type="email" required />
      <mat-icon matSuffix color="primary">mail</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput ngModel #password="ngModel" name="password" required type="password" />
      <mat-icon matSuffix color="primary">lock</mat-icon>
    </mat-form-field>
    <button [disabled]="authForm.invalid" mat-raised-button color="primary" type="submit">
      Login
    </button>
    <mat-error *ngIf="showErrorMessage" style="margin-top: 1em" class="mat-body-2">
      {{ 'AUTH.AUTH_FAIL' | translate }}
    </mat-error>
  </form>
</ng-template>
