mat-drawer-container {
  height: calc(100% - 60px);

  mat-drawer-content {
    padding: 2em;
  }
}

button {
  position: fixed;
  bottom: 50px;
  width: 40px !important;
  height: 40px !important;
}

::ng-deep .mat-button-wrapper  {
  padding: 0 !important;
}

mat-drawer {
  min-width: 200px;
}

