mat-drawer-container {
  height: calc(100% - 60px);
}

mat-drawer-content {
  padding: 2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  position: fixed;
  bottom: 50px;
  width: 40px !important;
  height: 40px !important;
  z-index: 100;
}

::ng-deep .mat-button-wrapper {
  padding: 0 !important;
}

mat-drawer {
  min-width: 200px;
}

@media screen and (min-width: 1000px) {
  mat-drawer-content {
    background-size: 790px;
  }
}

@media screen and (max-width: 340px) {
  mat-drawer-content {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}
