<mat-expansion-panel class="mat-elevation-z-5">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>{{ student.name }} {{ student.surname }}</mat-card-title>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card-subtitle *ngIf="student.dateOfBirth">
    {{ student.dateOfBirth | date: 'dd MMMM yyyy' }}
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="student.phoneNumber">
    {{ 'STUDENT_INFO.PHONE' | translate }}: {{ student.phoneNumber }}
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="student.schoolClass">
    {{ 'STUDENT_INFO.CLASS' | translate }}: {{ student.schoolClass }}
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="student.fiscalCode">
    {{ 'STUDENT_INFO.FISCAL' | translate }}: {{ student.fiscalCode }}
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="student.address">
    {{ 'STUDENT_INFO.ADDRESS' | translate }}: {{ student.address | titlecase }}
  </mat-card-subtitle>
  <mat-expansion-panel class="mat-elevation-z-5">
    <mat-expansion-panel-header>
      <mat-card-subtitle class="parents">
        {{ 'STUDENT_INFO.PARENTS' | translate }}:
      </mat-card-subtitle>
    </mat-expansion-panel-header>
    <div>
      <mat-card-subtitle>
        <b>{{ student.parent.name }} {{ student.parent.surname }}</b>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="student.parent.phoneNumber">
        {{ 'STUDENT_INFO.PHONE' | translate }}: {{ student.parent.phoneNumber }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="student.parent.fiscalCode">
        {{ 'STUDENT_INFO.FISCAL' | translate }}: {{ student.parent.fiscalCode }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="student.parent.address">
        {{ 'STUDENT_INFO.ADDRESS' | translate }}: {{ student.parent.address }}
      </mat-card-subtitle>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>
