<mat-expansion-panel class="mat-elevation-z-5">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>{{ student.name }} {{ student.surname }}</mat-card-title>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card-subtitle>
    {{ student.dateOfBirth | date: 'dd MMMM yyyy' }}
  </mat-card-subtitle>
  <mat-card-subtitle>Phone: {{ student.phoneNumber }}</mat-card-subtitle>
  <mat-card-subtitle>Class: {{ student.schoolClass }}</mat-card-subtitle>
  <mat-card-subtitle>CF: {{ student.fiscalCode }}</mat-card-subtitle>
  <mat-card-subtitle *ngIf="student.address">
    {{ student.address | titlecase }}
  </mat-card-subtitle>
  <mat-expansion-panel class="mat-elevation-z-5">
    <mat-expansion-panel-header>
      <mat-card-subtitle class="parents">Parent</mat-card-subtitle>
    </mat-expansion-panel-header>
    <div>
      <mat-card-subtitle>
        <b>{{ student.parent.name }} {{ student.parent.surname }}</b>
      </mat-card-subtitle>
      <mat-card-subtitle>Phone: {{ student.parent.phoneNumber }}</mat-card-subtitle>
      <mat-card-subtitle>CF: {{ student.parent.fiscalCode }}</mat-card-subtitle>
      <mat-card-subtitle>Address: {{ student.parent.address }}</mat-card-subtitle>
    </div>
  </mat-expansion-panel>
</mat-expansion-panel>
