@import '../utils/form-common.scss';

mat-card {
  padding: 2em !important;
}

::ng-deep.mat-select-value {
  // width: 500px !important;
  max-width: unset !important;
}

@media screen and (max-width: 380px) {
  ::ng-deep.mat-form-field-wrapper,
  button {
    max-width: 90% !important;
  }
}
