<h2>{{ formMode }} Receipt</h2>
<mat-divider></mat-divider>
<form [formGroup]="rForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput formControlName="number" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" />
    <mat-icon matSuffix>euro</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Emission Date</mat-label>
    <input
      matInput
      #emissionInput
      (focus)="emissionInput.blur()"
      (click)="startPicker.open()"
      [matDatepicker]="startPicker"
      formControlName="emissionDate"
    />
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker [touchUi]="isTouchUiActivate" #startPicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Payment Date</mat-label>
    <input
      matInput
      #paymentInput
      (focus)="paymentInput.blur()"
      (click)="endPicker.open()"
      [matDatepicker]="endPicker"
      formControlName="paymentDate"
    />
    <mat-error *ngIf="formHasDateError()">
      Payment Date Must Be Greater Than Emission Date
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker [touchUi]="isTouchUiActivate" #endPicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type Of Payment</mat-label>
    <mat-select formControlName="typeOfPayment">
      <mat-option *ngFor="let item of matSelectValues" [value]="item">{{ item }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button [disabled]="rForm.invalid" mat-raised-button color="accent" type="submit">
    Add Receipt
  </button>
</form>
